<mat-toolbar color="primary">
    <mat-toolbar-row>
        <h1>EBEN-EZER</h1>

        <button mat-icon-button (click)="collapse.set(!collapse())">
            <mat-icon>menu</mat-icon>
        </button>

        <span style="flex: 1 1 auto;"></span>

        <!-- Botón para notificaciones con menú desplegable -->
        <button mat-icon-button [matMenuTriggerFor]="notificationMenu">
            <mat-icon matBadge="3" matBadgeColor="warn">notifications</mat-icon>
        </button>
    
        <!-- Menú desplegable para mostrar notificaciones -->
        <mat-menu #notificationMenu="matMenu">
            <ng-container>
                <!-- Título "Notificaciones" -->
                <div style="padding: 8px 16px; font-weight: bold;">
                    Notificaciones
                </div>
                <!-- Línea separadora -->
                <mat-divider></mat-divider>
                <!-- Notificación 1 -->
                <button mat-menu-item>
                    <div class="my-2 w-60 text-base">
                    <span>Acetaminofén está por vencer</span>
                    </div>
                </button>
                <!-- Notificación 2 -->
                <button mat-menu-item>
                    <div class="my-2 w-60 text-base">
                    <span>Ibuprofeno está por vencer</span>
                    </div>
                </button>
                <!-- Notificación 3 -->
                <button mat-menu-item>
                    <div class="my-2 w-60 text-base">
                    <span>Aciclovir tiene pocas unidades en el stock</span>
                    </div>
                </button>
            </ng-container>
        </mat-menu>

        <label style="font-size: 14px; margin-right: 20px;">
            {{correoUsuario}} | {{rolUsuario}}
        </label>

        <button mat-icon-button (click)="logout()">
            <mat-icon>logout</mat-icon>
        </button>

    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>

    <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">        
        <!-- <app-custom-sidenav [collapsed]="collapse()"/> -->
        <mat-nav-list class="sidenav-header">
            <a 
                mat-list-item
                class="menu-item"
                *ngFor="let menu of listaMenus" 
                [routerLink]="menu.url"
                routerLinkActive="selected-menu-item"
                #rla="routerLinkActive"
                [activated]="rla.isActive"
            >
                <mat-icon [fontSet]="rla.isActive ? 'material-icons': 'material-icons-outlined'"
                 matListItemIcon
                 [ngStyle]="{ 'color': rla.isActive ? 'blue' : '#333333', 'opacity': rla.isActive ? '1' : '0.8' }">
                 {{ menu.icono }}
                </mat-icon>

                <span matListItemTitle *ngIf="!sideNavCollapse()">{{ menu.nombre}}</span>
            </a>
        </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content class="content"[style.margin-left]="sidenavWidth()">
         <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>

<!-- 
 
        
 -->

