<mat-toolbar color="primary">
    <mat-toolbar-row>
        <h1>Sistema Venta</h1>

        <button mat-icon-button (click)="collapse.set(!collapse())">
            <mat-icon>menu</mat-icon>
        </button>

        <span style="flex: 1 1 auto;"></span>
        <label style="font-size: 14px; margin-right: 20px;">
            {{correoUsuario}} | {{rolUsuario}}
        </label>
        <button mat-icon-button (click)="logout()">
            <mat-icon>logout</mat-icon>
        </button>

    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>

    <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">
        <app-custom-sidenav [collapsed]="collapse()"/>
    </mat-sidenav>
    <mat-sidenav-content class="content"[style.margin-left]="sidenavWidth()">
         <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>
